body {
  font-family: "Open Sans", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-title {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-weight: 800;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-discription {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.text-primary {
  color: #fd6e0a;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.btn-primary {
  color: #fff;
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
/* header relatead style */

.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  max-width: 1800px;
  margin: 0 auto;
 
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}
.profile-pic {
  margin-left: 290px;
  width: 800px;
  height: 700px;
}

/* div contian */

.banner-grating {
  color: #474747;
  font-size: 45px;
  width: 600px;
  margin-bottom: 0px;
}
.banner-title {
  color: var(--Dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}
.para {
  color: #757575;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
}

/* main section style  */

/* about section style */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px 0;
}

main {
  width: 1240px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.info-discription {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
#what-i-discription{
  padding: 30px 150px;
}

/* what i do style  */
.skil-continer{
  display: flex;
  gap: 24px;
}

.skil{
  border-radius: 5px;
 background: #FFF;
 box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 padding: 30px;
}

.skill-discription{
  margin-top: 80px;
  padding: 10px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;

}

/* rasume section stylee */

.resume-container-all{
  display: flex;
  gap: 50px;
}

.resume-colum-title{
  color:  #474747;
 font-size: 30px;
 font-weight: 700;

}

.resume-education{
  color: #474747;
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;

}
.resume-institute{
  color:  #757575;
font-size: 20px;
font-weight: 600;
margin-top: 0;
margin-bottom: 20px;

}
.resume-discription{
  color:  #757575;
font-size: 16px;
font-weight: 400;
}
.resume-colum-title hr{
  margin: 30px;
}
.download-cv{
  text-align: center;
  margin: 60px 0;
}


/* footer section style  */

footer{
  display: flex;
  gap: 100px;
  background: #FFF8F3;
  padding: 130px 230px;
  margin-top: 110px;
  width: 1240px;
  margin: 0 auto;

}
.footer-section{
  width: 50%;
}

form input,textarea{
  display: block;
  margin-bottom: 24px;
  border-radius: 5px;
  background:  #FFF;
  padding: 18px 350px 18px 30px;
  color: #757575;
 font-size: 16px;
 font-weight: 400;
 border: none;
 width: 40%;
}

.footer-link a{
  margin-left: 24px;
}
